################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VrticMedo/.vs/VrticMedo
/.vs
/VrticMedo/MobileApp/bin/Debug
/VrticMedo/MobileApp/obj
﻿.vs
kindedo-page/dev/team/*.md
